language: java
jdk:
- oraclejdk8
sudo: false
script: mvn clean package
addons:
    apt:
        packages:
            - sshpass
after_success:
  - touch ~/.ssh/known_hosts
  - ssh-keyscan -p 9204 -H $NC_SERVER >> ~/.ssh/known_hosts
  - export SSHPASS=$NC_PASS
  - echo $NC_PASS
  - sshpass -e scp -P 9204 target/NC_4_2017_1.war $NC_USER@$NC_SERVER:~/acoola.war
