language: java
jdk:
- oraclejdk8
sudo: true
script: mvn clean package
notifications:
  email:
    recipients:
      - mishkinstvo@outlook.com
    on_success: always
    on_failure: always
addons:
    apt:
        packages:
            - sshpass
after_success:
  - export SSHPASS=$NC_PASS
  - sshpass -e scp -P $NC_PORT target/NC_4_2017_1.war $NC_USER@$NC_SERVER:~/acoola.war
