language: java
jdk:
- oraclejdk8
sudo: false
script: mvn clean package
after_success:
  - find / -type d -iname 'webapps'
  - echo $PATH
  - echo "Smoke deployment initiated..."
  - curl --upload-file 'target/NC_4_2017_1.war' "http://$NC_SERVER:$TOMCAT_PORT/manager/text/deploy?path=/expdev&update=true" --user $TOMCAT_CREDENTIALS
  - if [ -n "$TRAVIS_TAG" ]; then echo "Prod deployment initiated..."; fi
  - if [ -n "$TRAVIS_TAG" ]; then curl --upload-file 'target/NC_4_2017_1.war' "http://$NC_SERVER:$TOMCAT_PORT/manager/text/deploy?path=/expprod&update=true" --user $TOMCAT_CREDENTIALS; fi
notifications:
  email:
    recipients:
      - mishkinstvo@outlook.com
    on_success: always
    on_failure: always
