language: java
jdk:
- oraclejdk8
sudo: false
script: mvn clean package
addons:
    ssh_known_hosts:
        - $NC_SERVER:$NC_PORT
    apt:
        packages:
            - sshpass
after_success:
  - export SSHPASS=$NC_PASS
  - sshpass -e scp -P $NC_PORT target/NC_4_2017_1.war $NC_USER@$NC_SERVER:~/acoola.war
