language: java
jdk:
- oraclejdk8
sudo: false
script: mvn clean package
addons:
    apt:
        packages:
            - sshpass
after_success:
  - ssh -oStrictHostKeyChecking=no $h uptime
  - export SSHPASS='$NC_PASS'
  - sshpass -e scp -P $NC_PORT target/NC_4_2017_1.war $NC_USER@$NC_SERVER:~/acoola.war
